*{
    padding: 0;
    margin:0;
    font-family: 'Ek Mukta', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.wrap{
    padding-bottom: 30px;
}
.btn-default{
    border-color: #e5e5e5;
}
.font-bold{
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 700;
}
.font-semi-bold{
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.font-light{
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 300;
    color: #d5d5d5;
}
.font-regular{
    font-weight: 400;
    color: #afb8be;
    font-size: 14px;
}
.img-responsive{
    width:100%;
}

.thumb, .big-img{
    padding:7.5px 0;
    -webkit-transition:all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition:  all 0.5s ease;
    -o-transition:  all 0.5s ease;
    transition:  all 0.5s ease;
}
nav{
    min-height: 125px;
}
nav .hd-nav-left{
    height: 125px;
    background-color: #f5f5f5;
}
nav .hd-nav-left .setting,.info{
    margin-top: 50px;
    text-align: center;
}

nav .hd-nav-left .logo-top{
    margin-top: 25px;
}
.hd-nav-left .logo-top img{
    display: block;
    margin: auto;
}
.hd-nav-right .main-menu{
    margin-top: 50px;
}
.hd-nav-right .colection{
    position: relative;
}
.hd-nav-right .tooltip-nav{
    position: absolute;
    top:-15px;
    right: 6px;
}
.text-tooltip{
    font-size: 10px;
    color: #ffffff;
    position: absolute;
    top: 2px;
    right:8px;
}
nav .hd-nav-right{
    height: 125px;;
    background-color:#2a3843;
}
.hd-nav-right .search{
    text-align: center;
}
.hd-nav-right i{
    color: white;
    zoom: 1.2;
}
.hd-nav-right .menu ul li{
    list-style: none;
    float: left;
    padding:10px;

}
.hd-nav-right .menu ul li a, .dropdown-menu li a{
    color: rgb( 97, 113, 125 );
    line-height: 1.438;
    text-decoration: none;
}
.hd-nav-right .menu ul li a:hover{
    color: #ffffff;
}
.hd-nav-right .menu .list-menu{
    display: inline-block;

}
nav .right-menu .top-whislist, .add-cart{
    position: relative;
}
nav .right-menu .ajax-whislist{
    position: absolute;
    top:-15px;
    color: #ffffff;
    font-size: 14px;
}
.dropdown{
    display: none;
}
.dropdown-menu{
    background-color: #2a3843;
}


/*end header*/
/*end carosel*/
.carousel-caption{
    padding-bottom: 19%;
}
/*content*/
.content{
    margin-top: 30px;
}
.content .product{
    padding-right: 0;
    padding-left: 0 ;
}
.product .main{
    margin-top: 50px;
}
.product .main h3{
    position: relative;
     margin-top: 50px;
    margin-bottom: 50px;
 }
.product .main h3 img{
    position: absolute;
    top: -9px;
}
.filter ul{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
.filter ul li{
    display: inline-block;
    list-style: none;
    margin-right:10px;
}
.filter ul li span{
    width: 125px;
    border-radius: 30px;
    padding: 10px 0 10px 0;
    background-color: white;
}
.btn-default:focus{
    background-color: white;
    outline: none;
}
.btn-default:hover{
    background-color: white;
    border-color: #abe2ec;
}
.big-img{
    position: relative;
}
.thumb{
    position: relative;
}
.name-top-left{
    position: absolute;
    top: 10%;
    left: 5%;
}
.name-top-left >.font-semi-bold{
    font-size: 1.3em;
}
.name-top-left >.font-regular{
    font-size: 0.7em;
    color: #afb8be;
}
.wishlist{
    position: absolute;
    top:30px;
    right:20px;
    line-height: 53px;
    width: 50px;
    text-align: center;
    height: 50px;
    display: block;
    border-radius: 50%;
    background-color: white;
}
.icon-cart{
    position: absolute;
    top:30px;
    right:85px;
    line-height: 53px;
    width: 50px;
    text-align: center;
    height: 50px;
    display: none;
    border-radius: 50%;
    background-color: white;

}

 /*-------View shop--------*/
.view-shop{
    margin:80px 0 0px 0;
}
.view-shop >.row{

}
.btn-cart{
    margin-left: -75px;
    margin-top: -25px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color: #ffffff;
    position: absolute;
    top:50%;
    left:50%;
    font-weight: 400;
    font-size: 18px;
    display: none;
}
.btn-cart-thumb{
    margin-left: -75px;
    margin-top: -25px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color: #ffffff;
    position: absolute;
    top:50%;
    left:50%;
    font-weight: 400;
    font-size: 18px;
    display: none;
}
.big-img:hover .btn-cart{
    display: block;
}
.thumb:hover .btn-cart-thumb{
    display: block;
}
.big-img:hover #icon-cart{
    display: block;
}
.thumb:hover #icon-cart{
    display: block;
}
.detail{
    text-align: center;
}
      /*---------new-product------------*/
.new-product{
    margin-top: 95px;
}
.new-product> .row{
    margin-top: 60px;;
}
.new-product .description{
    margin-top: -25px;
}
.new-product > h3{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.new-product .name-bot-right{
    position: absolute;
    bottom:10%;
    right:5%;
}
.new-product .name-top-right{
    position: absolute;
    top:10%;
    right:5%;
}
.new-product .name-top-left-thumb{
    position: absolute;
    top:10%;
    left:5%;
}
.new-product .action{
    position: absolute;
    top:10%;
    right:20px;
}
.new-product .action>li{
    list-style:none;
}
.new-product .wishlist-new{
    margin-bottom: 10px;
    float: right;
    line-height: 53px;
    width: 50px;
    height:50px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
}
.new-product .icon-cart-new{
    margin:10px 0 10px 0;
    transition: all 0.5s ease;
    overflow: hidden;
    line-height: 53px;
    width: 50px;
    height:50px;
    border-radius: 25px;
    text-align: center;
    background-color: white;
}
.new-product .icon-cart-new > i{
    padding:0 18px 0 20px;
}
.new-product .icon-cart-new:hover{
    width:175px;
}
.new-product .price-tag{
    float: right;
    line-height: 53px;
    width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}
.showWhenHover{
    display: none;
}
.thumb:hover .showWhenHover{
    display: block;
}

.new-product .thumb:hover::before{
    opacity:1;
    z-index:0;
}
.new-product .thumb:hover .font-semi-bold{
    color: #ffffff;
}
.thumb:before{
    content: '';
    width:100%;
    height:calc(100% - 30px);
    background: rgba(72,81,87,0.8);
    opacity: 0;
    position: absolute;
    left:0;
    top:15px;
    -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    -ms-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
    transition: all 0.5s ease ;
    transition:  all 0.5s ease;
}
/*----------end new product---------*/
/*---------bg-new-product---------*/
.bg-new-product{
    /*height: 500px;;*/
    min-height: 300px;
    background-image: url("../img/body/bg1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center ;
}
.bg-new-product >.container >.row{
    padding:25% 0;
}
.logo-wrap{
    width: 110px;
}
.logo-wrap img{
    max-width: 83px;
    max-height: 80px;
    height:100%;
    width:auto !important;
}
.flow-text{
    font-size: 24px;
    font-weight: 300;
    color: white;
}
.text-wrap span{
    color: white;
    /*font-size: 16px;*/
}


/*--------new -arrival-----------*/
.new-arrival .banner-new-arrival>h3{
    margin-bottom: 25px;
}
.new-arrival .filter{
    margin: 50px 0 65px 0;
}
.testimonial{
    margin:85px 0 90px 0;
}
.slider-testimonial{

}
/*----------new blog--------------*/
.new-blog .banner-new-arrival>h3{
    margin-bottom: 25px;
}
.new-blog .filter{
    margin: 50px 0 65px 0;
}
.new-blog .content{
    margin-top: 75px;
    margin-bottom: 100px;
}
.new-blog .info{
    margin-top: 20px;
}
.new-blog .info .read-more{
    margin-top: 30px;
    border-radius: 20px;
    width: 135px;
    height:40px;
}
/*---------pre footer-----------*/
.pre-footer{
    background-image: url("../img/body/map.jpg");
    background-size: contain   ;
}
.pre-footer .contact{
    padding:55px 0 60px 0 ;
}
.pre-footer .contact li{
    list-style: none;
    padding:27px 0 27px 0;
    color: rgb( 255, 255, 255 );
}
.contact_us {
    font-size: 36px;
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    line-height: 0.639;
}
.pre-footer .contact .us{
    font-weight: lighter;
}
.pre-footer .contact .icon-con{
    padding-right: 20px;
}
.pre-footer .contact .icon-contact{
    width: 50px;
    height:50px;
    border:1px solid rgba( 255, 255, 255, 0.251 );
    background-color: rgba( 247, 247, 247, 0 );
    border-radius: 50%;
    display: inline-block;
    color: rgb( 255, 255, 255 );
    text-align: center;
    line-height: 3;
    margin:0 5px 0 5px;
}
.pre-footer .contact .icon-contact:hover{
    border:2px solid rgba( 255, 255, 255, 1 );
}
.pre-footer .form{
    padding-top: 80px;;
}
.pre-footer .form form{
    background-color: white;
    padding:30px 30px 60px 30px;
}
.pre-footer form .form-group{
    position: relative;
}

.pre-footer form .input{
     height: 40px;
}
.pre-footer form textarea{
    height: 140px;
}
.pre-footer form .icon-append{
    position: absolute;
    right: 5px;
    border-left: 1px solid #ccc;
    color: #ccc;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
}
.pre-footer .form .submit{
    position: absolute;
    bottom:-96px;
    background-color: #2a3843;
    color: #ffffff;
    height:40px;
    border-radius: 30px;
}
footer{
    margin-top:30px;
}
footer ul li{
    list-style: none;
    float: right;
    padding: 10px;
}
footer ul li i{
    opacity: 0.5;
}
footer ul li:hover i{
    opacity:1;
}
@media all and  (max-width: 425px){
    .col-xs-120{
        float: left;
        width:100%;
        padding: 0 15px;
    }
    .hidden-425px{
        display: none;
    }
    .name-bot-left{
        line-height: 10px;
    }
    .new-arrival .name-bot-left{
        line-height: 25px;
    }
    .name-top-left >.font-semi-bold{
        font-size: 1.5em;
    }
    .name-top-left >.font-regular{
        font-size: 0.7em;
        color: #afb8be;
    }
    .name-bot-left >.font-semi-bold{
         font-size: 1em;
     }
    .name-bot-left >.font-regular{
        font-size: 0.5em;
        color: #afb8be;
    }
    .btn-cart-thumb{
        zoom: 0.88;
    }
    .btn-cart{
        zoom: 0.88;
    }
    .wishlist-new, .icon-cart-new, .price-tag{
        zoom: 0.66 ;
    }

}

@media all and (max-width: 767px){
    .product .main{
        margin-top: -30px;
    }
    .menu{
        display: none;
    }
    .dropdown{
        display: block;
    }
    .hidden-425px{
        display: none;
    }
    .price{
        position: absolute;
        bottom:9%;
        left:3%;
        font-size: 1.1em;
    }
    .slider{
        display: none;
    }
    .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4,
    .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    .name-top-left{
        position: absolute;
        top: 10%;
        left: 5%;
    }
    .font-semi-bold{
        font-size: 16px;
    }
    .name-top-left >.font-semi-bold{
        font-size: 1.5em;
    }
    .name-top-left >.font-regular{
        font-size: 0.9em;
        color: #afb8be;
    }
    .name-bot-left{
        position: absolute;
        bottom: 24px;
        left: 20px;
    }
    .name-bot-left >.font-semi-bold{
        font-size: 1em;
    }
    .name-bot-left >.font-regular{
        font-size: 0.9em;
        color: #afb8be;
    }
    .btn-cart{
        zoom: 1;
    }
    .btn-cart-thumb{
        zoom: 1;
    }

    .thumb:before{
        height:calc(100% - 15px);
        top:7.5px;
    }
    .pre-footer .contact li {
        padding: 10px 0 10px 0;
    }
    .pre-footer .form{
        padding-top: 0px;
    }

}


@media all and (min-width: 768px){
    .price{
        position: absolute;
        bottom:9%;
        left:3%;
        font-size: 2em;
    }
    .thumb, .big-img{
        padding:15px 0 15px 0;
        transition: all 0.5s ease;


    }
    .name-bot-left{
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
    .name-top-left >.font-semi-bold{
        font-size: 2em;
    }
    .name-top-left >.font-regular{
        font-size: 0.9em;
        color: #afb8be;
    }
    .name-bot-left >.font-semi-bold{
        font-size: 1.3em;
    }
    .name-bot-left >.font-regular{
        font-size: 0.9em;
        color: #afb8be;
    }
    .btn-cart{
        zoom: 0.88;
    }
    .btn-cart-thumb{
        zoom: 0.88;
    }
    .wishlist{
        position: absolute;
        top:26px;
        right:13px;
        line-height: 43px;
        width: 35px;
        text-align: center;
        height: 35px;
        border-radius: 50%;
        background-color: white;
    }
    .icon-cart{
        position: absolute;
        top:26px;
        right:60px;
        line-height: 43px;
        width: 35px;
        text-align: center;
        height: 35px;
        border-radius: 50%;
        background-color: white;
    }

}

@media all and (min-width: 992px){
    .col-md-40{
        float: left;
        width: 40%;
        padding:0 15px;
    }
    .col-md-60{
        float: left;
        width:60%;
        padding:0 15px;
    }
    .price{
        position: absolute;
        bottom: 8%;
        left:2%;
        font-size: 1.4em;
    }
    .name-top-left{
        position: absolute;
        top: 10%;
        left: 5%;
    }
    .font-semi-bold{
        font-size: 20px;
    }
    .name-top-left >.font-regular{
        font-size: 0.7em;
        color: #afb8be;
    }
    .name-bot-left{
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
    .name-bot-left >.font-semi-bold{
        font-size: 16px;
    }
    .name-bot-left >.font-regular{
        font-size: 0.7em;
        color: #afb8be;
    }
    .btn-cart{
        zoom: 0.66;
    }
    .btn-cart-thumb{
        zoom: 0.66;
    }
    .wishlist{
         position: absolute;
         top:26px;
         right:13px;
         line-height: 43px;
         width: 35px;
         text-align: center;
         height: 35px;
         border-radius: 50%;
         background-color: white;
     }
    .icon-cart{
        position: absolute;
        top:26px;
        right:55px;
        line-height: 40px;
        width: 35px;
        text-align: center;
        height: 35px;
        border-radius: 50%;
        background-color: white;
    }
    .wishlist-new, .icon-cart-new, .price-tag{
        zoom: 0.66 ;
    }
}
@media all and (min-width: 1200px){
    .price{
        position: absolute;
        bottom: 8%;
        left: 3%;
        font-size: 2em;
    }
    .name-top-left{
        position: absolute;
        top: 10%;
        left: 5%;

    }
    .font-semi-bold{
        font-size: 24px;
    }
    .name-top-left >.font-semi-bold{
        font-size: 2em;
    }
    .name-top-left >.font-regular{
        font-size: 0.9em;
        color: #afb8be;
    }
    .name-bot-left{
        position: absolute;
        bottom: 40px;
        left: 40px;
    }
    .name-bot-left >.font-semi-bold{
        font-size: 1.5em;
    }
    .name-bot-left >.font-regular{
        font-size: 0.9em;
        color: #afb8be;
    }
    .btn-cart{
        zoom: 1;
    }
    .btn-cart-thumb{
        zoom: 1;
    }
    .wishlist{
        position: absolute;
        top:30px;
        right:20px;
        line-height: 53px;
        width: 50px;
        text-align: center;
        height: 50px;
        border-radius: 50%;
        background-color: white;
    }
    .icon-cart{
        position: absolute;
        top: 30px;
        right: 85px;
        line-height: 53px;
        width: 50px;
        text-align: center;
        height: 50px;
        border-radius: 50%;
        background-color: white;

    }
    .wishlist-new, .icon-cart-new, .price-tag{
        zoom: 1 ;
    }
}

